{% extends '__base.html.twig' %}

{% block body %}

<h1>{{ bloginfo('name') }}</h1>
<h2>{{ bloginfo('description') }}</h2>

    <p>it works !</p>

    {% if not acf_is_installed %}
        Il est recommandé d'installer l'extension <a href="https://fr.wordpress.org/plugins/advanced-custom-fields/">Advanced Custom Fields (ACF)</a>
    {% endif %}
{% endblock %}
