{% extends '__base.html.twig' %}

{% block body %}
    <style>
        body {
            margin:0;
        }
        .enjoy {
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            width: 100vw;
            background: #58bfc3;
            color: #000;
            font-family: "arial", sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding:0 0 30px 0;
            box-shadow: 10px 10px 20px #bebebe;
        }
        img {
            margin-top: -110px;
        }
        h1 {
            margin:0;
            font-size:60px;
            font-family: "Times", serif;
            font-style: italic;
        }
        p {
            font-size: 20px;
        }

        a {
            color: #000;
            text-decoration: underline;
        }
    </style>

    <div class="enjoy">
        <img src="{{ bloginfo('template_directory') }}/assets/images/logo.png" width="200" alt="">

        <h1>Hope you'll enjoy</h1>

        <p>it works !</p>

        {% if not acf_is_installed %}
            <p>
                On te recommande vivement d'installer l'extension <a href="https://fr.wordpress.org/plugins/advanced-custom-fields/">Advanced Custom Fields (ACF)</a>
            </p>
        {% endif %}
    </div>

    <div class="content">

    </div>



{% endblock %}
